RFC-7230: Message Format

Tests relate to [RFC-7230 section 3](https://tools.ietf.org/html/rfc7230#section-3).

Skeleton for tests are in MessageFormatIT.java