RFC-7231 Response Status Codes

Skeleton in ResponseStatusCodesIT

[RFC-7231 section 6](https://tools.ietf.org/html/rfc7231#section-6)

This issue was moved to k3po/k3po#160