RFC-7230: Architecture Tests

Tests relate to [RFC-7230 section 2](https://tools.ietf.org/html/rfc7230#section-2).

Skeleton for tests are in ArchitectureIT.java