Create skeleton for project

Should include relevant test methods to be completed in first round of implementation for [RFC-7230](https://tools.ietf.org/html/rfc7230), [RFC-7231](https://tools.ietf.org/html/rfc7231), [RFC-7232](https://tools.ietf.org/html/rfc7232), [RFC-7233](https://tools.ietf.org/html/rfc7233), [RFC-7234](https://tools.ietf.org/html/rfc7234), and [RFC-7235](https://tools.ietf.org/html/rfc7235).  

Sections that are not of high priority should have test classes, but no test methods declared