RFC-7231 Request Header Fields

Skeleton in RequestHeaderFieldsIT

[RFC-7231 section 5](https://tools.ietf.org/html/rfc7231#section-5)

This issue was moved to k3po/k3po#162