RFC-7230: Transfer Coding

Tests relate to [RFC-7230 section 4](https://tools.ietf.org/html/rfc7230#section-4).

Skeleton for tests are in TransferCodingIT.java

Note: this does not include Compression Codings (Section 4.2 of spec)