RFC-7231 Request Methods

Skeleton in RequestMethodsIT

[RFC-7231 section 4](https://tools.ietf.org/html/rfc7231#section-4)

This issue was moved to k3po/k3po#161