RFC-7231 Content Negotiation

Skeleton in ContentNegotiationIT

[RFC-7231 section 3](https://tools.ietf.org/html/rfc7231#section-3.4)

It seems like the tests that can be created here must assert behavior on the implementation.  So while this can, and should be driven by robot tests, it is not necessary for the task at hand which is tests for http transport.   These tests would be more useful for a http client, or a directory service.